body{
    
      background-image: url("https://github.com/wasanuday/1dv525/blob/gh-pages/images/background.jpg");
     
    }
    
    div#menu {
        margin-bottom: 370px;
        margin-left: 160px;
    }
